<h1>
  <%= @list.name %>
</h1>

<u>
  <li>Movie 1</li>
  <li>Movie 1</li>
  <li>Movie 1</li>
</u>

<br>

<%= link_to "Back to index |", lists_path  %>
<%= link_to "Create a Bookmark", new_list_bookmark_path(@list)  %>

<br>
<br>

<h3>Comments</h3>

<br>
<br>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.comment %>
    </li>
  <% end %>
</ul>
